## Robotics

#Folders
example
venv
rovi2025

#Python
__pycache__/
*.py[cod]
*$py.class

#Outputs
gifs/
planning_logs/
trajectory_data/

# Latex
ROVI_Latex.zip
ROVI_Latex_template.zip

## Vision
reference_files/
Scenes/

vision/results/
vision/screenshoots/
# vision/graphs/
vision/notes/
