## Robotics

#Folders
example
venv

#Python
__pycache__/
*.py[cod]
*$py.class

#Outputs
gifs/
planning_logs/
outputs/

# Latex
ROVI_Latex.zip
ROVI_Latex_template/

## Vision
reference_files/
Scenes/

vision/results/
vision/screenshoots/
